albumentations==2.0.5
fitz==0.0.1.dev2
matplotlib==3.10.1
numpy==2.2.3
opencv_python==4.5.4.60
opencv_python_headless==4.10.0.84
paddleocr==2.9.1
paddlepaddle_gpu==2.6.2
pandas==2.2.3
Pillow==11.1.0
pytesseract==0.3.13
python_docx==1.1.2
skimage==0.0
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.65.2
